.m-idx-apply {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 -1px 8px 2px #ddd;
  -moz-box-shadow: 0 -1px 8px 2px #ddd;
  box-shadow: 0 -1px 8px 2px #ddd; }
  .m-idx-apply .left-banner-word {
    width: 300px;
    height: 100px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    background: #666;
    font-size: 20px;
    line-height: 30px;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .m-idx-apply .apply-form {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .m-idx-apply .apply-form form {
      padding: 0 80px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .m-idx-apply .apply-form form .file-group {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 60px;
        width: 300px;
        padding: 10px;
        border: 1px solid #999;
        /*margin-bottom: 20px;*/ }
        .m-idx-apply .apply-form form .file-group .label {
          display: block;
          width: 30px;
          height: 30px;
          -ms-flex-negative: 0;
          flex-shrink: 0; }
          .m-idx-apply .apply-form form .file-group .label.name {
            background: url("../images/common/form-name.png") no-repeat center center;
            -moz-background-size: cover;
            background-size: cover; }
          .m-idx-apply .apply-form form .file-group .label.phone {
            background: url("../images/common/form-phone.png") no-repeat center center;
            -moz-background-size: cover;
            background-size: cover; }
          .m-idx-apply .apply-form form .file-group .label.weixin {
            background: url("../images/common/form-weixin.png") no-repeat center center;
            -moz-background-size: cover;
            background-size: cover; }
        .m-idx-apply .apply-form form .file-group .file-input {
          -webkit-box-flex: 1;
          -moz-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          line-height: 40px;
          height: 40px;
          margin-left: 10px;
          padding: 0 10px 0 30px;
          font-size: 14px;
          color: #666;
          border: none;
          border-left: 1px solid #999; }
      .m-idx-apply .apply-form form .btn-submit {
        display: block;
        width: 100px;
        height: 50px;
        line-height: 50px;
        background: #7F523C;
        color: #fff;
        text-align: center;
        -moz-border-radius: 6px;
        border-radius: 6px;
        font-size: 16px; }
        .m-idx-apply .apply-form form .btn-submit:hover {
          background: rgba(127, 82, 60, 0.8); }

.m-lesson-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px; }
  .m-lesson-list .lesson-item {
    width: 380px;
    height: 152px;
    background: url("../images/idx-les-bg.png") no-repeat center center;
    -moz-background-size: cover;
    background-size: cover;
    padding: 20px 30px 20px 130px;
    margin-right: 30px; }
    .m-lesson-list .lesson-item:nth-child(3n+0) {
      margin-right: 0; }
    .m-lesson-list .lesson-item .lesson-title {
      /* font-size: 30px;*/
      font-size: 25px;
      line-height: 30px;
      height: 60px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2; }
    .m-lesson-list .lesson-item .num {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -moz-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 15px; }
      .m-lesson-list .lesson-item .num span {
        font-size: 20px;
        color: #666; }
      .m-lesson-list .lesson-item .num b {
        font-size: 16px;
        color: #fff;
        line-height: 32px;
        height: 32px;
        padding: 0 20px;
        -moz-border-radius: 999px;
        border-radius: 999px;
        background: #7F523C;
        font-weight: normal; }
        .m-lesson-list .lesson-item .num b em {
          padding: 0 5px;
          font-size: 20px; }

.m-banner-carousel2 {
  height: 780px;
  position: relative; }
  .m-banner-carousel2 .bg-img {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden; }
    .m-banner-carousel2 .bg-img img {
      position: absolute;
      width: 1920px;
      height: 780px;
      left: 50%;
      top: 0;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
  .m-banner-carousel2 .carousel-box {
    padding-top: 35px;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
    .m-banner-carousel2 .carousel-box .carousel-container {
      width: 100%;
      margin-top: 50px; }
      .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson {
        padding-left: 210px;
        width: 100%; }
        .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson .swiper-slide {
          width: 990px;
          padding-left: 10px;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex; }
          .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson .swiper-slide a {
            -ms-flex-negative: 0;
            flex-shrink: 0;
            display: block;
            width: 320px;
            height: 535px;
            overflow: hidden;
            margin-right: 10px; }
            .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson .swiper-slide a:last-child {
              margin-right: 0; }
            .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson .swiper-slide a img {
              display: block;
              height: 100%;
              width: 100%; }
        .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson .swiper-button-next, .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson .swiper-button-prev {
          width: 55px;
          height: 55px;
          -moz-background-size: 55px 55px;
          background-size: 55px 55px; }
        .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson .swiper-button-next {
          right: -20px;
          background-image: url("../images/common/arrow-right.png"); }
        .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson .swiper-button-prev {
          left: 200px;
          background-image: url("../images/common/arrow-left.png"); }
        .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson > .swiper-pagination-bullets {
          width: 210px;
          height: 100%;
          left: 0;
          top: 0;
          background: #fff;
          overflow-y: auto; }
          .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson > .swiper-pagination-bullets .swiper-pagination-bullet {
            width: 210px;
            height: 107px;
            background: #fff;
            opacity: 1;
            -moz-border-radius: 0;
            border-radius: 0;
            margin: 0;
            padding: 10px;
            border-bottom: 1px solid #999; }
            .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson > .swiper-pagination-bullets .swiper-pagination-bullet:last-child {
              border-bottom: none; }
            .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson > .swiper-pagination-bullets .swiper-pagination-bullet .les-name {
              font-size: 20px;
              color: #333;
              text-align: left; }
            .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson > .swiper-pagination-bullets .swiper-pagination-bullet .score {
              display: -webkit-box;
              display: -moz-box;
              display: -ms-flexbox;
              display: flex;
              margin-top: 7px; }
              .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson > .swiper-pagination-bullets .swiper-pagination-bullet .score i {
                display: block;
                width: 12px;
                height: 12px;
                margin-right: 5px;
                background: url("../images/common/score.png") no-repeat center center;
                -moz-background-size: cover;
                background-size: cover; }
            .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson > .swiper-pagination-bullets .swiper-pagination-bullet .advisory {
              margin-top: 7px;
              font-size: 20px;
              color: #333;
              text-align: left; }
          .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson > .swiper-pagination-bullets .swiper-pagination-bullet-active {
            background: #7F523C; }
            .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson > .swiper-pagination-bullets .swiper-pagination-bullet-active .les-name, .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson > .swiper-pagination-bullets .swiper-pagination-bullet-active .advisory {
              color: #fff; }
            .m-banner-carousel2 .carousel-box .carousel-container .swiper-lesson > .swiper-pagination-bullets .swiper-pagination-bullet-active .score i {
              background: url("../images/common/score-active.png") no-repeat center center;
              -moz-background-size: cover;
              background-size: cover; }

.m-idx-common-header .title {
  position: relative;
  color: #7F523C;
  font-size: 20px;
  text-align: center; }
.m-idx-common-header .tip {
  color: #333;
  font-size: 36px;
  text-align: center;
  position: relative;
  font-weight: bold; }
  .m-idx-common-header .tip .btn-more {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    background: #7F523C;
    -moz-border-radius: 999px;
    border-radius: 999px;
    padding: 0 28px;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    transition: background .3s ease;
    font-weight: normal; }
    .m-idx-common-header .tip .btn-more:hover {
      background: rgba(127, 82, 59, 0.8); }

.m-idx-achievement {
  height: 770px;
  background: url("../images/idx-bg4.png") no-repeat center center;
  padding: 60px 0; }
  .m-idx-achievement .achievement-list {
    margin-top: 60px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .m-idx-achievement .achievement-list .achievement-item {
      width: 300px;
      height: 460px;
      padding: 20px;
      background: #fff;
      -webkit-box-shadow: 0 0 4px 1px #ddd;
      -moz-box-shadow: 0 0 4px 1px #ddd;
      box-shadow: 0 0 4px 1px #ddd;
      cursor: default; }
      .m-idx-achievement .achievement-list .achievement-item .circle {
        display: block;
        width: 15px;
        height: 15px;
        border: 1px solid #ccc;
        background: #fff;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: 0 auto; }
      .m-idx-achievement .achievement-list .achievement-item .data {
        display: block;
        width: 170px;
        height: 170px;
        font-size: 40px;
        color: #fff;
        text-align: center;
        line-height: 170px;
        background: #7F523C;
        -moz-border-radius: 50%;
        border-radius: 50%;
        margin: 40px auto 0;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        transition: all .5s linear;
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        transform: rotateY(0deg);
        position: relative;
        overflow: hidden; }
        .m-idx-achievement .achievement-list .achievement-item .data:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.3);
          -moz-border-radius: 50%;
          border-radius: 50%; }
        .m-idx-achievement .achievement-list .achievement-item .data b {
          font-weight: normal;
          position: relative;
          z-index: 5; }
      .m-idx-achievement .achievement-list .achievement-item .b-word {
        text-align: center;
        font-size: 30px;
        color: #7F523C;
        margin-top: 40px; }
      .m-idx-achievement .achievement-list .achievement-item .s-word {
        font-size: 20px;
        text-align: center;
        color: #7F523C;
        margin-top: 10px; }
      .m-idx-achievement .achievement-list .achievement-item:nth-child(2) {
        background: #333;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
        .m-idx-achievement .achievement-list .achievement-item:nth-child(2) .data {
          /* color:#333;*/
          color: #fff;
          background: #fff; }
        .m-idx-achievement .achievement-list .achievement-item:nth-child(2) .b-word, .m-idx-achievement .achievement-list .achievement-item:nth-child(2) .s-word {
          color: #fff; }
      .m-idx-achievement .achievement-list .achievement-item:nth-child(3) {
        background: #7F523C;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; }
        .m-idx-achievement .achievement-list .achievement-item:nth-child(3) .data {
          /* color:#333;*/
          color: #fff;
          background: #fff; }
        .m-idx-achievement .achievement-list .achievement-item:nth-child(3) .b-word, .m-idx-achievement .achievement-list .achievement-item:nth-child(3) .s-word {
          color: #fff; }
      .m-idx-achievement .achievement-list .achievement-item:hover .data {
        /* -webkit-animation: jump 1s ;*/
        /*    -moz-animation: jump 1s ;*/
        /*         animation: jump 1s ;*/
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        transform: rotateY(360deg); }

@-webkit-keyframes jump {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1.0; }
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1.0; }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    opacity: .5; }
  75% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    opacity: .8; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1.0; } }
@-moz-keyframes jump {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1.0; }
  25% {
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1.0; }
  50% {
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: .5; }
  75% {
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    opacity: .8; }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1.0; } }
@keyframes jump {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1.0; }
  25% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1.0; }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: .5; }
  75% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
    opacity: .8; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    opacity: 1.0; } }
.m-idx-works-block {
  padding: 60px 0; }
  .m-idx-works-block .works-box {
    margin-top: 60px; }
    .m-idx-works-block .works-box .menu-list {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      border-bottom: 2px solid #f0f0f0;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .m-idx-works-block .works-box .menu-list li {
        padding: 10px;
        font-size: 20px;
        color: #333;
        line-height: 20px;
        margin-right: 50px;
        cursor: pointer; }
        .m-idx-works-block .works-box .menu-list li:last-child {
          margin-right: 0; }
        .m-idx-works-block .works-box .menu-list li:hover, .m-idx-works-block .works-box .menu-list li.s-active {
          background: #7F523C;
          color: #fff; }
    .m-idx-works-block .works-box .works-list {
      margin-top: 20px;
      height: 630px;
      position: relative; }
      .m-idx-works-block .works-box .works-list .works-item-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none; }
      .m-idx-works-block .works-box .works-list .works-item {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex; }
        .m-idx-works-block .works-box .works-list .works-item .left-slide {
          width: 594px;
          -ms-flex-negative: 0;
          flex-shrink: 0; }
          .m-idx-works-block .works-box .works-list .works-item .left-slide .top {
            /* display: -webkit-box;*/
            /* display: -moz-box;*/
            /* display: -ms-flexbox;*/
            /* display: flex;*/
            width: 100%;
            height: 430px;
            overflow: hidden;
            background: #fff;
            /* .detail{*/
            /* 	padding:150px 20px 50px 50px;*/
            /* 	-webkit-box-flex:1;*/
            /* 	   -moz-box-flex:1;*/
            /* 	    -ms-flex:1;*/
            /* 	        flex:1;*/
            /* 	.label{*/
            /* 		font-size: 20px;*/
            /* 		color:#F08977;*/
            /* 	}*/
            /* 	.title{*/
            /* 		font-size: 30px;*/
            /* 		color:#333;*/
            /* 	}*/
            /* 	.btn{*/
            /* 		display: inline-block;*/
            /* 		line-height: 20px;*/
            /* 		font-size: 20px;*/
            /* 		color:#fff;*/
            /* 		padding:10px 20px;*/
            /* 		-moz-border-radius: 10px;*/
            /* 		     border-radius: 10px;*/
            /* 		background: #F08977;*/
            /* 		margin-top: 80px;*/
            /* 		-webkit-transition:all .3s linear;*/
            /* 		-moz-transition:all .3s linear;*/
            /* 		transition:all .3s linear;*/
            /* 		&:hover{*/
            /* 			background:rgba(240,153,119,.8);*/
            /* 		}*/
            /* 	}*/
            /* }*/ }
            .m-idx-works-block .works-box .works-list .works-item .left-slide .top .link {
              overflow: hidden;
              display: block;
              width: 594px;
              height: 430px;
              -ms-flex-negative: 0;
              flex-shrink: 0; }
              .m-idx-works-block .works-box .works-list .works-item .left-slide .top .link img {
                display: block;
                width: 100%;
                height: 100%; }
          .m-idx-works-block .works-box .works-list .works-item .left-slide .bottom {
            margin-top: 10px;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex; }
            .m-idx-works-block .works-box .works-list .works-item .left-slide .bottom .link {
              display: block;
              height: 190px;
              overflow: hidden; }
              .m-idx-works-block .works-box .works-list .works-item .left-slide .bottom .link:nth-child(1) {
                width: 390px;
                margin-right: 15px; }
              .m-idx-works-block .works-box .works-list .works-item .left-slide .bottom .link:nth-child(2) {
                width: 188px; }
              .m-idx-works-block .works-box .works-list .works-item .left-slide .bottom .link img {
                width: 100%;
                height: 100%;
                display: block; }
        .m-idx-works-block .works-box .works-list .works-item .right-slide {
          margin-left: 13px;
          -webkit-box-flex: 1;
          -moz-box-flex: 1;
          -ms-flex: 1;
          flex: 1; }
          .m-idx-works-block .works-box .works-list .works-item .right-slide .top {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex; }
            .m-idx-works-block .works-box .works-list .works-item .right-slide .top .link {
              display: block;
              width: 188px;
              height: 310px;
              margin-right: 15px;
              overflow: hidden; }
              .m-idx-works-block .works-box .works-list .works-item .right-slide .top .link.last-child {
                margin-right: 0; }
              .m-idx-works-block .works-box .works-list .works-item .right-slide .top .link img {
                display: block;
                width: 100%;
                height: 100%; }
          .m-idx-works-block .works-box .works-list .works-item .right-slide .bottom {
            margin-top: 10px;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex; }
            .m-idx-works-block .works-box .works-list .works-item .right-slide .bottom .link {
              height: 310px;
              display: block;
              overflow: hidden; }
              .m-idx-works-block .works-box .works-list .works-item .right-slide .bottom .link:nth-child(1) {
                width: 188px;
                margin-right: 15px; }
              .m-idx-works-block .works-box .works-list .works-item .right-slide .bottom .link:nth-child(1) {
                width: 390px; }
              .m-idx-works-block .works-box .works-list .works-item .right-slide .bottom .link img {
                width: 100%;
                height: 100%;
                display: block; }
      .m-idx-works-block .works-box .works-list .link img {
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        transition: all .3s linear;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
      .m-idx-works-block .works-box .works-list .link:hover img {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }

.m-idx-teachers {
  height: 830px;
  padding: 60px 0; }
  .m-idx-teachers .menu-list {
    margin-top: 60px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    /*border-bottom: 2px solid #f0f0f0;*/
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .m-idx-teachers .menu-list li {
      padding: 10px;
      font-size: 20px;
      color: #333;
      line-height: 20px;
      margin-right: 50px;
      cursor: pointer; }
      .m-idx-teachers .menu-list li:last-child {
        margin-right: 0; }
      .m-idx-teachers .menu-list li:hover, .m-idx-teachers .menu-list li.s-active {
        background: #7F523C;
        color: #fff; }
  .m-idx-teachers .teachers-list {
    margin-top: 20px;
    position: relative;
    height: 410px; }
    .m-idx-teachers .teachers-list .item {
      display: none;
      width: 100%;
      height: 410px;
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0; }
      .m-idx-teachers .teachers-list .item.s-active {
        display: block; }
      .m-idx-teachers .teachers-list .item > a {
        display: block;
        font-size: 0;
        float: left;
        width: 190px;
        height: 410px;
        overflow: hidden;
        position: relative;
        margin-right: 12px; }
        .m-idx-teachers .teachers-list .item > a:last-child {
          margin-right: 0; }
        .m-idx-teachers .teachers-list .item > a .img {
          width: 190px;
          height: 310px;
          overflow: hidden; }
          .m-idx-teachers .teachers-list .item > a .img img {
            display: block;
            width: 100%;
            height: auto; }
        .m-idx-teachers .teachers-list .item > a .msg {
          position: absolute;
          bottom: 0;
          -webkit-transform: translateY(calc(100% - 100px));
          -moz-transform: translateY(-moz-calc(100% - 100px));
          -ms-transform: translateY(calc(100% - 100px));
          transform: translateY(calc(100% - 100px));
          left: 0;
          width: 190px;
          padding: 30px 15px;
          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          transition: all .5s ease;
          background: #f0f0f0;
          z-index: 10;
          max-height: 100%;
          overflow-y: auto; }
          .m-idx-teachers .teachers-list .item > a .msg .name-english {
            font-size: 16px;
            line-height: 22px;
            height: 22px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #333;
            text-align: center; }
          .m-idx-teachers .teachers-list .item > a .msg .name-chinese {
            font-size: 20px;
            line-height: 20px;
            height: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #333;
            text-align: center;
            margin-top: 5px; }
          .m-idx-teachers .teachers-list .item > a .msg .honor-list {
            -webkit-transition: all .5s linear;
            -moz-transition: all .5s linear;
            transition: all .5s linear;
            margin-top: 30px;
            opacity: 0; }
            .m-idx-teachers .teachers-list .item > a .msg .honor-list li .chinese, .m-idx-teachers .teachers-list .item > a .msg .honor-list li .english {
              font-size: 12px;
              color: #666;
              line-height: 20px;
              text-align: center; }
        .m-idx-teachers .teachers-list .item > a:hover .msg {
          -webkit-transform: translateY(0%);
          -moz-transform: translateY(0%);
          -ms-transform: translateY(0%);
          transform: translateY(0%); }
        .m-idx-teachers .teachers-list .item > a:hover .honor-list {
          opacity: 1.0; }

.m-idx-advantage {
  padding: 60px 0; }
  .m-idx-advantage .advantage-list {
    margin-top: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .m-idx-advantage .advantage-list li {
      width: 398px;
      /* height: 300px;*/
      height: 185px;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      margin-right: 3px;
      margin-bottom: 3px;
      -webkit-transform: translateY(0px);
      -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
      transform: translateY(0px);
      -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      transition: all .3s linear;
      cursor: default;
      /* add*/
      position: relative; }
      .m-idx-advantage .advantage-list li:hover {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px); }
        .m-idx-advantage .advantage-list li:hover .msg {
          background: rgba(0, 0, 0, 0.4); }
          .m-idx-advantage .advantage-list li:hover .msg .title, .m-idx-advantage .advantage-list li:hover .msg .des {
            color: #fff; }
      .m-idx-advantage .advantage-list li:nth-child(3n+0) {
        margin-right: 0; }
      .m-idx-advantage .advantage-list li .img {
        /* add*/
        width: 100%;
        height: 100%;
        margin: 0 auto;
        display: block; }
        .m-idx-advantage .advantage-list li .img img {
          display: block;
          width: 100%;
          height: 100%; }
      .m-idx-advantage .advantage-list li .msg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #f0f0f0;
        padding: 50px;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        transition: all .3s linear;
        /* margin-top: 15px;*/ }
        .m-idx-advantage .advantage-list li .msg .title {
          text-align: center;
          font-size: 20px;
          color: #333; }
        .m-idx-advantage .advantage-list li .msg .des {
          font-size: 16px;
          line-height: 24px;
          height: 48px;
          text-align: center;
          color: #666;
          margin-top: 10px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2; }

.m-idx-case {
  padding: 60px 0; }
  .m-idx-case .case-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px; }
    .m-idx-case .case-list li {
      width: 384px;
      height: 388px;
      overflow: hidden;
      margin-right: 24px;
      margin-bottom: 24px;
      background: #f0f0f0;
      -webkit-transition: background .5s linear;
      -moz-transition: background .5s linear;
      transition: background .5s linear; }
      .m-idx-case .case-list li:nth-child(3n+0) {
        margin-right: 0; }
      .m-idx-case .case-list li .img {
        width: 384px;
        height: 264px;
        overflow: hidden; }
        .m-idx-case .case-list li .img img {
          width: 100%;
          height: 100%;
          display: block;
          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          transition: all .5s ease; }
      .m-idx-case .case-list li .msg {
        padding: 15px 30px; }
        .m-idx-case .case-list li .msg .title {
          font-size: 20px;
          line-height: 20px;
          height: 20px;
          color: #333;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .m-idx-case .case-list li .msg .des {
          margin-top: 10px;
          line-height: 22px;
          height: 44px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          font-size: 16px;
          color: #666; }
      .m-idx-case .case-list li:hover {
        background: #C3947D; }
        .m-idx-case .case-list li:hover .msg .title, .m-idx-case .case-list li:hover .msg .des {
          color: #fff; }
        .m-idx-case .case-list li:hover .img img {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1); }

.m-idx-students {
  padding: 60px 0;
  height: 920px; }
  .m-idx-students .students-list {
    margin-top: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .m-idx-students .students-list li {
      width: 240px;
      height: 240px;
      overflow: hidden; }
      .m-idx-students .students-list li a {
        display: block;
        width: 100%;
        height: 100%;
        -ms-flex-negative: 0;
        flex-shrink: 0; }
        .m-idx-students .students-list li a img {
          display: block;
          width: 100%;
          height: 100%;
          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          transition: all .5s ease;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1); }
        .m-idx-students .students-list li a:hover img {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1); }
      .m-idx-students .students-list li .center {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .m-idx-students .students-list li .center span {
          display: block;
          width: 120px;
          height: 120px;
          line-height: 120px;
          font-size: 60px;
          text-align: center;
          color: #fff; }
          .m-idx-students .students-list li .center span:nth-child(1) {
            background: #F08977; }
          .m-idx-students .students-list li .center span:nth-child(2) {
            background: #CB8080; }
          .m-idx-students .students-list li .center span:nth-child(3) {
            background: #85CB6B; }
          .m-idx-students .students-list li .center span:nth-child(4) {
            background: #60BCDE; }

.m-idx-message {
  padding: 60px 0; }
  .m-idx-message .message-container {
    margin-top: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .m-idx-message .message-container .left-slide {
      width: 800px;
      padding-right: 50px; }
      .m-idx-message .message-container .left-slide .toggle-menu {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex; }
        .m-idx-message .message-container .left-slide .toggle-menu li {
          font-size: 20px;
          color: #333;
          padding: 10px 20px;
          background: #fff;
          -ms-flex-negative: 0;
          flex-shrink: 0;
          cursor: pointer; }
          .m-idx-message .message-container .left-slide .toggle-menu li.s-active {
            background: #7F523C;
            color: #fff;
            cursor: default; }
      .m-idx-message .message-container .left-slide .menu-content {
        position: relative;
        height: 460px; }
        .m-idx-message .message-container .left-slide .menu-content .content {
          display: none;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%; }
      .m-idx-message .message-container .left-slide .hot-item {
        margin-top: 40px;
        display: block;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex; }
        .m-idx-message .message-container .left-slide .hot-item .img {
          width: 368px;
          height: 236px;
          overflow: hidden;
          -ms-flex-negative: 0;
          flex-shrink: 0;
          display: block; }
          .m-idx-message .message-container .left-slide .hot-item .img p {
            width: 100%;
            height: 100%; }
          .m-idx-message .message-container .left-slide .hot-item .img img, .m-idx-message .message-container .left-slide .hot-item .img video {
            display: block;
            width: 100%;
            height: 100%; }
          .m-idx-message .message-container .left-slide .hot-item .img video {
            -o-object-fit: fill;
            object-fit: fill; }
        .m-idx-message .message-container .left-slide .hot-item .msg {
          -webkit-box-flex: 1;
          -moz-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          padding-top: 30px;
          margin-left: 20px; }
          .m-idx-message .message-container .left-slide .hot-item .msg .title {
            color: #333;
            font-size: 16px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
            .m-idx-message .message-container .left-slide .hot-item .msg .title:hover {
              text-decoration: underline; }
          .m-idx-message .message-container .left-slide .hot-item .msg .des {
            margin-top: 15px;
            line-height: 24px;
            font-size: 12px;
            color: #666;
            height: 120px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5; }
          .m-idx-message .message-container .left-slide .hot-item .msg .date {
            text-align: right;
            margin-top: 32px;
            font-size: 12px;
            color: #666; }
      .m-idx-message .message-container .left-slide .msg-list {
        margin-top: 30px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 20px; }
        .m-idx-message .message-container .left-slide .msg-list li {
          width: 45%;
          margin-bottom: 5px;
          list-style: disc;
          list-style-position: inset; }
          .m-idx-message .message-container .left-slide .msg-list li:nth-child(odd) {
            margin-right: 10%; }
          .m-idx-message .message-container .left-slide .msg-list li a {
            font-size: 12px;
            color: #333;
            line-height: 24px;
            height: 24px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
            .m-idx-message .message-container .left-slide .msg-list li a:hover {
              text-decoration: underline; }
    .m-idx-message .message-container .right-slide {
      width: 400px;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      background: #fafafa;
      padding: 24px 42px 10px 42px; }
      .m-idx-message .message-container .right-slide .tip {
        line-height: 50px;
        background: #C3947D;
        text-align: center;
        font-size: 20px;
        color: #fff;
        padding: 0 10px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .m-idx-message .message-container .right-slide .ask-list::-webkit-scrollbar {
        width: 4px; }
      .m-idx-message .message-container .right-slide .ask-list::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        background: rgba(0, 0, 0, 0.2); }
      .m-idx-message .message-container .right-slide .ask-list::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
        border-radius: 0;
        background: rgba(0, 0, 0, 0.1); }
      .m-idx-message .message-container .right-slide .ask-list {
        height: 412px;
        overflow-y: auto; }
        .m-idx-message .message-container .right-slide .ask-list .item {
          padding-top: 24px;
          padding-bottom: 10px;
          border-bottom: 2px solid #ddd; }
          .m-idx-message .message-container .right-slide .ask-list .item .question, .m-idx-message .message-container .right-slide .ask-list .item .answer {
            padding-left: 42px;
            position: relative;
            font-size: 12px;
            line-height: 20px;
            color: #333;
            display: block; }
            .m-idx-message .message-container .right-slide .ask-list .item .question i, .m-idx-message .message-container .right-slide .ask-list .item .answer i {
              position: absolute;
              left: 0;
              top: 0;
              width: 22px;
              height: 22px;
              font-size: 12px;
              color: #fff;
              text-align: center;
              line-height: 22px; }
          .m-idx-message .message-container .right-slide .ask-list .item .answer {
            margin-top: 20px; }
          .m-idx-message .message-container .right-slide .ask-list .item .question i {
            background: #7F523C; }
          .m-idx-message .message-container .right-slide .ask-list .item .answer i {
            background: #C3947D; }

.m-idx-schoolmap {
  padding: 60px 0; }
  .m-idx-schoolmap .schoolmap-container {
    margin-top: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    background: #fafafa; }
    .m-idx-schoolmap .schoolmap-container .left-map {
      width: 670px;
      height: 542px;
      -ms-flex-negative: 0;
      flex-shrink: 0; }
    .m-idx-schoolmap .schoolmap-container .right-message {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 20px 40px; }
      .m-idx-schoolmap .schoolmap-container .right-message .toggle-menu {
        position: relative; }
        .m-idx-schoolmap .schoolmap-container .right-message .toggle-menu .value {
          width: 100%;
          height: 44px;
          line-height: 44px;
          text-align: center;
          font-size: 20px;
          color: #333;
          cursor: default;
          background: #fff; }
          .m-idx-schoolmap .schoolmap-container .right-message .toggle-menu .value i {
            display: inline-block;
            margin-left: 10px;
            width: 12px;
            height: 12px;
            background: url("../images/common/icon-arrow.png") no-repeat center center; }
        .m-idx-schoolmap .schoolmap-container .right-message .toggle-menu .select-list {
          position: absolute;
          top: 50px;
          left: 0;
          width: 100%;
          background: #fff;
          -webkit-box-shadow: 0 0 4px 1px #ddd;
          -moz-box-shadow: 0 0 4px 1px #ddd;
          box-shadow: 0 0 4px 1px #ddd;
          -moz-border-radius: 10px;
          border-radius: 10px;
          z-index: 20;
          display: none;
          max-height: 300px;
          overflow-y: auto; }
          .m-idx-schoolmap .schoolmap-container .right-message .toggle-menu .select-list li {
            font-size: 16px;
            color: #333;
            text-align: center;
            padding: 0 10px;
            line-height: 30px;
            overflow: hidden;
            background: #fff;
            cursor: default; }
            .m-idx-schoolmap .schoolmap-container .right-message .toggle-menu .select-list li:hover, .m-idx-schoolmap .schoolmap-container .right-message .toggle-menu .select-list li.s-selected {
              background: #7F523C;
              color: #fff; }
      .m-idx-schoolmap .schoolmap-container .right-message .img-container {
        margin-top: 26px; }
        .m-idx-schoolmap .schoolmap-container .right-message .img-container .top {
          height: 274px;
          width: 454px;
          overflow: hidden; }
          .m-idx-schoolmap .schoolmap-container .right-message .img-container .top:hover img {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1); }
          .m-idx-schoolmap .schoolmap-container .right-message .img-container .top img {
            display: block;
            width: 100%;
            height: 100%;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            transition: all .5s ease;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1); }
        .m-idx-schoolmap .schoolmap-container .right-message .img-container .bottom {
          width: 454px;
          height: 148px;
          margin-top: 8px;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -moz-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          .m-idx-schoolmap .schoolmap-container .right-message .img-container .bottom .img {
            width: 224px;
            height: 148px;
            overflow: hidden; }
            .m-idx-schoolmap .schoolmap-container .right-message .img-container .bottom .img img {
              display: block;
              width: 100%;
              height: 100%;
              -webkit-transition: all .5s ease;
              -moz-transition: all .5s ease;
              transition: all .5s ease;
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              -ms-transform: scale(1);
              transform: scale(1); }
            .m-idx-schoolmap .schoolmap-container .right-message .img-container .bottom .img:hover img {
              -webkit-transform: scale(1.1);
              -moz-transform: scale(1.1);
              -ms-transform: scale(1.1);
              transform: scale(1.1); }

.m-friendslink {
  margin: 60px 0 20px 0; }
  .m-friendslink .friendslink-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .m-friendslink .friendslink-list a, .m-friendslink .friendslink-list span {
      font-size: 12px;
      color: #333;
      margin-bottom: 10px; }
    .m-friendslink .friendslink-list a {
      margin-right: 30px; }
      .m-friendslink .friendslink-list a:hover {
        color: #C3947D; }
    .m-friendslink .friendslink-list span {
      margin-right: 5px; }

.m-idx-honor {
  padding: 60px 0; }
  .m-idx-honor .honor-list {
    margin-top: 60px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .m-idx-honor .honor-list li .img {
      width: 384px;
      height: 264px;
      overflow: hidden;
      display: block; }
      .m-idx-honor .honor-list li .img img {
        display: block;
        width: 100%;
        height: 100%; }
    .m-idx-honor .honor-list li .name {
      margin-top: 20px;
      padding: 0 10px;
      text-align: center;
      font-size: 20px;
      color: #333; }

/*# sourceMappingURL=index.css.map */
.swiper-video-slide{
  position: relative;
  display: block;
  width: 100%;
  padding-top: 28.125%;
}
.swiper-video-slide:before{
  content:"";
  position: absolute;
  left: 0;
  top:0;
  bottom:0;
  right: 0;
  z-index: 10;
  background: rgba(0,0,0,.1);
}
.swiper-video-slide>p{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
}
.swiper-video-slide video{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.swiper-video-slide .msg{
  position:absolute;
  left: 0;
  top:40%;
  width: 100%;
  z-index: 30;
  -webkit-transform:translate(0,-50%);
     -moz-transform:translate(0,-50%);
      -ms-transform:translate(0,-50%);
          transform:translate(0,-50%);
  padding:100px 100px 100px 0;
}
.swiper-video-slide .msg .title{
  font-size: 40px;
  color:#fff;
  line-height: 50px;
  text-align: center;
}
.swiper-video-slide .msg .des{
  font-size: 20px;
  color:#fff;
  line-height:30px;
  text-align: center;
  margin-top: 20px;
}
.swiper-video-slide .msg .btn-group{
  text-align: center;
  margin-top: 30px;
}
.swiper-video-slide .msg .btn-group a{
  display: inline-block;
  line-height: 48px;
  height: 50px;
  width: 150px;
  text-align: center;
  padding: 0 10px;
  overflow: hidden;
  font-size: 14px;
  color:#fff;
  background: #7F523C;
  -moz-border-radius: 5px;
       border-radius: 5px;
  border:1px solid #7F523C;
  margin-right: 25px;
}
.swiper-video-slide .msg .btn-group a.btn-video{
  background: rgba(255,255,255,.1);
  border:1px solid #fff;
  position: relative;
}

.swiper-video-slide .msg .btn-group a:last-child{
  margin-right: 0;
}
.video-play-container{
  position: fixed;
  top:0;
  left:0;
  right: 0;
  bottom:0;
  z-index: 99999;
  display: none;
}
.video-play-container .mask-layer{
  position: absolute;
  left:0;
  top:0;
  right: 0;
  bottom:0;
  background: rgba(0,0,0,.6);
}
.video-play-container .video-box{
  position: absolute;
  left:50%;
  top:50%;
  -webkit-transform:translate(-50%,-50%);
     -moz-transform:translate(-50%,-50%);
      -ms-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
  width: 60%;
  height: auto;
  max-height: 100%;
  box-shadow: 0 0 2px 2px #000;
}
.video-play-container .video-box video{
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 100;
}
.video-play-container .video-box .btn-close{
  position: absolute;
  width: 35px;
  height: 35px;
  right: -35px;
  top:-35px;
  border:1px solid #fff;
  -moz-border-radius: 50%;
       border-radius: 50%;
  cursor: pointer;
  -webkit-transform:rotate(45deg);
     -moz-transform:rotate(45deg);
      -ms-transform:rotate(45deg);
          transform:rotate(45deg);
}
.video-play-container .video-box .btn-close:before,
.video-play-container .video-box .btn-close:after{
  content:"";
  position: absolute;
  top:50%;
  left:50%;
  background: #fff;
  -webkit-transform:translate(-50%,-50%);
     -moz-transform:translate(-50%,-50%);
      -ms-transform:translate(-50%,-50%);
          transform:translate(-50%,-50%);
}
.video-play-container .video-box .btn-close:before{
  width: 25px;
  height: 2px;
  
}
.video-play-container .video-box .btn-close:after{
  width: 2px;
  height: 25px;
}
