.m-idx-common-header{
	 .title{
		 	position: relative;
		 	color:#7F523C;
		 	font-size: 20px;
		 	text-align: center;
		 }
		 .tip{
		 	color:#333;
		 	font-size: 36px;
		 	text-align: center;
		 	position: relative;
		 	font-weight: bold;
		 	.btn-more{
		 		position: absolute;
		 		right: 0;
		 		top:50%;
		 		transform: translateY(-50%);
		 		line-height: 30px;
		 		color:#fff;
		 		font-size: 16px;
		 		background: #7F523C;
		 		border-radius: 999px;
		 		padding:0 28px;
		 		transition: background .3s ease;
		 		font-weight: normal;
		 		&:hover{
		 			background:rgba(127,82,59,.8);
		 		}
		 	}
		 }
}
.m-idx-apply{
	display: flex;
	align-items: center;
	box-shadow: 0 -1px 8px 2px #ddd;
	.left-banner-word{
		width:300px;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		color:#fff;
		background: #666;
		font-size: 20px;
		line-height: 30px;
		flex-shrink: 0;
	}
	.apply-form{
		flex:1;
		form{
			padding:0 80px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.file-group{
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				   -moz-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				height:60px;
				width: 300px;
				padding:10px;
				border:1px solid #999;
				/*margin-bottom: 20px;*/
				.label{
					display: block;
					width:30px;
					height:30px;
					-ms-flex-negative:0;
					    flex-shrink:0;
					&.name{
						background: url("../images/common/form-name.png")no-repeat center center;
						-moz-background-size: cover;
						     background-size: cover;
					}
					&.phone{
						background: url("../images/common/form-phone.png")no-repeat center center;
						-moz-background-size: cover;
						     background-size: cover;
					}
					&.weixin{
						background: url("../images/common/form-weixin.png")no-repeat center center;
						-moz-background-size: cover;
						     background-size: cover;
					}
				}

				.file-input{
					-webkit-box-flex:1;
					   -moz-box-flex:1;
					    -ms-flex:1;
					        flex:1;
					line-height: 40px;
					height: 40px;
					margin-left: 10px;
					padding: 0 10px 0 30px;
					font-size: 14px;
					color:#666;
					border:none;
					border-left: 1px solid #999;
				}


			}
			.btn-submit{
				display: block;
				width:100px;
				height:50px;
				line-height: 50px;
				background: #7F523C;
				color:#fff;
				text-align: center;
				-moz-border-radius: 6px;
				     border-radius: 6px;
				font-size: 16px;
				&:hover{
					background:rgba(127,82,60,.8);
				}
			}
		}
	}
}
.m-idx-schoolmap{
	padding:60px 0;
	.schoolmap-container{
		margin-top: 40px;
		display: flex;
		background: #fafafa;
		.left-map{
			width: 670px;
			height: 542px;
			flex-shrink: 0;
		}
		.right-message{
			flex:1;
			padding:20px 40px;
			.area-msg{
				width: 100%;
				height: 200px;
				padding:20px 30px;
				background: #fff;
				border-left:5px solid #7F523C;
				h5{
					font-size: 18px;
					color:#333;
				}
				.address,.traffic{
					font-size: 14px;
					line-height: 18px;
					color:#333;
					margin-top: 5px;
				}
				.traffic{
					color:#666;
				}

				.tel,.work-time{
					font-size: 12px;
					color:#666;
					margin-top: 5px;
				}
				.tel{
					margin-top: 20px;
				}
			}
			.school-toggle-list{
				margin-top: 40px;
				display: flex;
				flex-wrap:wrap;
				li{
					width:124px;
					line-height: 40px;
					height: 40px;
					background: #fff;
					text-align: center;
					font-size: 18px;
					color:#333;
					margin-right: 37px;
					margin-bottom: 37px;
					cursor: default;
					overflow:hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					&:nth-child(3n+0){
						margin-right:0;
					}
					&.s-active,&:hover{
						background: #7F523C;
						color:#fff;
					}
				}
			}
		}
	}
}

.m-school-environment{
	padding:60px 0;
	.title{
		font-size:40px;
		text-align: center; 
		color:#333
	}
	.img-list{
		margin-top: 30px;
		display: flex;
		flex-wrap:wrap;
		li{
			width:370px;
			height: 250px;
			overflow: hidden;
			margin-right: 45px;
			margin-bottom: 45px;
			&:nth-child(3n+0){
				margin-right: 0;
			}
			&:hover img{
				transform: scale(1.1);
			}
			img{
				display: block;
				width: 100%;
				height: 100%;
				transition: all .5s ease;
				transform: scale(1.0);
			}
		}
	}
}